/**********************GENERAL STYLE********************/

@import url('https://fonts.googleapis.com/css?family=Cairo');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden!important;
    max-width: 100%!important;
    background: #fff;
    height: auto
}

/*.section {
    min-height: 100vh;
}*/

.text-right {
    text-align: left;
}

.text-left {
    text-align: right;
}

a,
button {
    outline: 0px!important;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.colored-text {
    color: #F7B82B;
}

.col-wt{
    color: #fff
}

.wow {
visibility:hidden;
}


::-webkit-input-placeholder {
    color: #eee;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #eee;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #eee;
}

:-ms-input-placeholder {
    color: #eee;
}

.background{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    
}

#back-to-top {
    position: fixed;
    bottom: -35px;
    left: -35px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #f7b82b;
    color: #2a2a2a;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: 30px;
    transition: 0.4s all ease-in-out
}
#back-to-top:hover {
    background: #2a2a2a;
    color: #f7b82b;
    box-shadow: 0px 0px 15px rgba(40,40,40,0.4)
}
#back-to-top.show {
    opacity: 1;
    left: 35px;
    bottom: 35px;
    transition: 0.4s all ease-in-out
}
/*********************Begin Loading SECTION********************/




/*********************Begin Loading SECTION********************/

/*
div#ascrail2000 {
    display: inline-block!important;
    width: 10px!important;
}
*/


.the-real-page{
    visibility: hidden;
}

.preloading-demo {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999999;
    display: flex;
/*    justify-content: center;*/
    align-items: center;
}

div#fiSide {
    background: #2a2a2a;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
        z-index: 9999999;
    transition: 2s all ease
}

div#seSide {
    background: #2a2a2a;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 999999;
    transition: 2s all ease
}


.loader{
    width: 19px;
    height: 19px;
    margin: 70px auto;
    position: relative;
    margin-right: -10px
}
.loader .loader-inner-1{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #f7b82b;
    position: absolute;
    top: 1px;
    right: 1px;
    animation: loading-1 2.88s 0s infinite both;
}
.loader .loader-inner-2{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: #f7b82b;
    position: absolute;
    animation: loading-2 2.88s 0s infinite both;
}
@keyframes loading-1{
    0%,100%{
        box-shadow: 0 0 0 #f7b82b,
        0 0 0 #f7b82b,
        0 0 0 #f7b82b,
        0 0 0 #f7b82b,
        0 0 0 #f7b82b,
        0 0 0 #f7b82b,
        0 0 0 #f7b82b,
        0 0 0 #f7b82b;
    }
    50%{
        transform: rotate(180deg);
    }
    25%,75%{
        box-shadow: -27px 0 0 #f7b82b, -27px 0 0 #f7b82b, 0 27px 0 #f7b82b, 0 -27px 0 #f7b82b, 19px -19px 0 #f7b82b, 19px 19px 0 #f7b82b, -19px -19px 0 #f7b82b, -19px 19px 0 #f7b82b;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b;
    }
}
@keyframes loading-2{
    0%,100%{
        box-shadow: 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b;
    }
    50%{
        transform: rotate(-180deg);
    }
    25%,75%{
        box-shadow: -51px 0 0 #f7b82b, -51px 0 0 #f7b82b, 0 51px 0 #f7b82b, 0 -51px 0 #f7b82b, 37px -37px 0 #f7b82b, 37px 37px 0 #f7b82b, -37px -37px 0 #f7b82b, -37px 37px 0 #f7b82b;
        background: transparent;
    }
    100%{
        transform: rotate(-360deg);
        box-shadow: 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b, 0 0 0 #f7b82b;
    }


}



/*********************Begin Loading SECTION********************/


.pageload-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	visibility: hidden;
}

.pageload-overlay.show {
	visibility: visible;
}

.pageload-overlay svg {
	position: absolute;
	top: 0;
	right: 0;
	pointer-events: none;
}

.pageload-overlay svg path {
	fill: #fff;
}

.pageload-overlay::after,
.pageload-overlay::before {
	content: '';
	position: fixed;
	width: 20px;
	height: 20px;
	top: 50%;
	right: 50%;
	margin: -10px -10px 0 0;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	z-index: 1000;
	-webkit-transition: opacity 0.15s, visibility 0s 0.15s;
	transition: opacity 0.15s, visibility 0s 0.15s;
}

.pageload-overlay::after {
	background: #6cc88a;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
	-webkit-animation: moveRight 0.6s linear infinite alternate;
	animation: moveRight 0.6s linear infinite alternate;
}

.pageload-overlay::before {
	background: #4fc3f7;
	-webkit-transform: translateX(20px);
	transform: translateX(20px);
	-webkit-animation: moveLeft 0.6s linear infinite alternate;
	animation: moveLeft 0.6s linear infinite alternate;
}

@-webkit-keyframes moveRight {
	to { -webkit-transform: translateX(20px); }
}

@keyframes moveRight {
	to { transform: translateX(20px); }
}

@-webkit-keyframes moveLeft {
	to { -webkit-transform: translateX(-20px); }
}

@keyframes moveLeft {
	to { transform: translateX(-20px); }
}

.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}


/*********************End Loading SECTION********************/




/*********************FIRST SECTION********************/

#sec1 {
    background-color: transparent;
    background-image: url(../img/bg1.png);
    background-position: top;
    background-size: cover;
    border-bottom-left-radius: 120%100px;
    border-bottom-right-radius: 120%100px;
}

.up-particles {
    position: relative;
    z-index: 1;
}

.contacts a {
    color: #fff;
    margin-right: 25px;
    display: inline-block;
    font-size: 12px;
}

.contacts a i {
    color: #F7B82B;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 18px;
        float: left;
    margin-right: 10px;
    margin-top: -3px;
}

.social-media a {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    border-radius: 50%;
    transition: 0.4s all ease-in-out
}

.search--open .btn--search-close {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    border-radius: 0px;
    background: transparent;
    color: #F7B82B;
}

.social-media a:hover {
    text-shadow: -3px 3px 0px #333;
    background: #F7B82B;
}

.most-top-header hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.contact-social {
    padding: 10px 0px
}

.logo-container img {
    width: 100%;
    height: 65px;
    object-fit: contain;
}

.logo-container {
    padding-left: 0px;
    padding-right: 5px
}


.nav-links nav {
    display: flex;
    justify-content: space-between;
}

.nav-links nav a {
    color: #fff!important;
    padding-bottom: 3px;
}

.hvr-overline-from-center:before {
    background: #F7B82B;
    height: 1px;
}

.search-icon-container {
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    font-size: 27px;
    color: #fff;
    margin-top: 12px;
}


.search-icon-container a {
    color: #fff;
}

.nav-links {
    margin-top: 22px;
}

.nav-links a.active {
    cursor: default;
    position: relative
}

.nav-links a.active:after {
    height: 1px;
    width: 50px;
    top: 0px;
    content: "";
    position: absolute;
    left: calc(50% - 25px);
    background: #F7B82B;
}

.nav-links a.active i.after-icc{
    transform: rotate(90deg);
    display: inline-block;
}

.nav-links a.active i.before-icc{
    transform: rotate(-90deg);
    display: inline-block;
}

.nav-links a.active i {
    color: #F7B82B;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 20px
}

div#st-container.st-menu-open {
    background: #353535;
}

nav.st-menu a.active{
    background: #F7B82B
}

#menu-12 {
    height: 100vh;
    top: 0;
/*    margin-top: -67px;*/
    background: #2a2a2a;
    box-shadow: 0px 0px 10px rgba(40, 40, 40, 0.4);
    text-align: center;
    width: 220px
}

input.search__input {
    background: #2a2a2a;
    color: #F7B82B;
    text-indent: 20px
}

.search__inner--down {
    top: 50%;
    color: #2d3535;
    background: #F7B82B;
}

.ityped-cursor {
      font-size: 2.2rem;
      opacity: 1;
      -webkit-animation: blink 0.3s infinite;
      -moz-animation: blink 0.3s infinite;
      animation: blink 0.3s infinite;
      animation-direction: alternate;
    }

    @keyframes blink {
      100% {
        opacity: 0;
      }
    }

    @-webkit-keyframes blink {
      100% {
        opacity: 0;
      }
    }

    @-moz-keyframes blink {
      100% {
        opacity: 0;
      }
    }
.typing-container{
        width: 100%;
    max-width: 100%;
    color: #fff;
}

 .welcome-text-container{
            margin-top: 19vh;
     text-align: center
    }
.welcome-text-container h3{
    font-size: 60px;
    color: #fff
}

.scroll-to-bottom-arrow{
        
}
.scroll-to-bottom-arrow a {
    display: block;
    width: 45px;
    height: 45px;
    border: 2px solid #F7B82B;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    color: #F7B82B;
    transition: 0.4s all ease-in-out;
    font-size: 25px;
    line-height: 45px;
    margin-top: 18vh;
}

.hov-arrow{
    width: 45px;
    height: 45px;
    border: 2px solid #F7B82B;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    color: #F7B82B!important;
    transition: 0.4s all ease-in-out;
    font-size: 33px;
    line-height: 42px;
}

.hov-arrow:hover{
    background: #eee;
    box-shadow: 0px 0px 20px 0px rgba(247,184,43,0.8);
    border-color: transparent;
    border-radius: 0px
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
}

.overlay.vLight{
    background: rgba(0,0,0,0.4);
    border-bottom-left-radius: 120%100px;
    border-bottom-right-radius: 120%100px;
}

/************************************************** Begin About Section ***************************************************************/

#sec2 , #sec3 , #sec5{
    padding: 40px 0px;
    display: flex;
    align-items: center;
    
}

#sec3{
    background-image: url('../img/2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
/*    min-height: 100vh*/
}

#sec3, #sec3 .overlay{
    border-bottom-left-radius: 120%100px;
    border-bottom-right-radius: 120%100px;
    border-top-left-radius: 120%100px;
    border-top-right-radius: 120%100px;
}


h3.the-title {
    margin-top: 0px;
    font-size: 40px;
    color: #F7B82B;
    margin-bottom: 25px;
}


.about-dec {
    max-height: 300px;
    overflow: auto;
    font-size: 14px;
    padding-right: 12.5%;
    width:100%;
}

.about-declaration-text-container {
    height: 380px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 60px rgba(40,40,40,0.4);
    border-radius: 10px;
    
}

.about-declaration-image-container{
        height: 380px;
    display: flex;
    align-items: center;
}

.about-declaration-image-container img{
    box-shadow: 0px 0px 60px rgba(40,40,40,0.4);
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
    width: 133%;
    margin-left: -33%
}


/************************************************** End About Section ***************************************************************/
/************************************************** Begin Employees Section ***************************************************************/

#sec3 h3.the-title{
    text-align: center
}


nav.book-controls {
    display: flex;
    margin-top: 35px;
}


.employee-name {
    position: absolute;
    right: 20px;
    color: #333;
    background: #fff;
    border-radius: 1px;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px rgba(40,40,40,0.6);
    bottom: 50px;
    font-weight: 700;
    z-index: 10
}

.employee-position {
    position: absolute;
    right: 30px;
    color: #fff;
    background: #F7B82B;
    border-radius: 1px;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px rgba(40,40,40,0.6);
    bottom: 23px;
    font-weight: 400;
    z-index: 8
}


/************************************************** End Employees Section ***************************************************************/

/************************************************** Begin Experience Section ***************************************************************/



#sec4{
    padding: 40px 0px;
    background-image: url('../img/4.png') , url('../img/5.png') , url('../img/4.png'),  url('../img/6.png') ;
    background-position: top left , top right , bottom right , bottom left;
    background-size: initial;
    background-repeat: no-repeat
}

#sec4 h3.the-title{
    text-align: center
}

.main-timeline{ position: relative; }
.main-timeline:before,
.main-timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-timeline:before{
    width: 2px;
    height: 100%;
    background: #F2F2F2;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.main-timeline .timeline{
    width: 50%;
    padding-left: 30px;
    float: right;
    position: relative;
}
.main-timeline .timeline:last-child{
    margin-bottom: 0;
}
.main-timeline .timeline:after{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #F2F2F2;
    position: absolute;
    top: 0;
    left: -6px;
    transition: all 0.3s ease 0s;
}
.main-timeline .timeline:hover:after{
    background: #F7B82B;
    transform:  scale(1.3);
}
.main-timeline .timeline-content{
    padding: 30px 40px;
    background: #F2F2F2;
    position: relative;
    transition: all 0.3s ease 0s;
}
.main-timeline .timeline-content:hover{
    background: #F7B82B;
}
.main-timeline .timeline-content:after{
    content: "";
    border-top: 30px solid #F2F2F2;
    border-left: 15px solid transparent;
    position: absolute;
    top: 0;
    left: -15px;
    transition: all 0.3s ease 0s;
}
.main-timeline .timeline-content:hover:after{
    border-top-color: #F7B82B;
}
.main-timeline .year{
    display: block;
    font-size: 24px;
    color: #F7B82B;
    line-height: 32px;
    margin: 0;
    transition: all 0.3s ease 0s;
}
.main-timeline .post{
    display: block;
    font-size: 20px;
    color: #22272c;
    padding-bottom: 8px;
    margin: 8px 0 15px 0;
    position: relative;
}
.main-timeline .post:after{
    content: "";
    display: block;
    width: 30px;
    border-top: 2px solid #22272c;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease 0s;
}
.main-timeline .timeline-content:hover .post:after{
    border-top-color: #fff;
}
.main-timeline .title{
    font-size: 18px;
    font-weight: 500;
    color: #F7B82B;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.main-timeline .description{
    font-size: 14px;
    color: #7a7e82;
    line-height: 25px;
}
.main-timeline .timeline-content:hover .year,
.main-timeline .timeline-content:hover .title,
.main-timeline .timeline-content:hover .description{
    color: #fff;
}
.main-timeline .timeline:nth-child(2n){
    padding: 0 30px 0 0;
    margin-top: 75px;
}
.main-timeline .timeline:nth-child(2n):after{
    left: auto;
    right: -6px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content:after{
    border-right: 15px solid transparent;
    border-left: none;
    right: -15px;
    left: auto;
}
@media only screen and (max-width: 767px){
    .main-timeline:before{
        margin: 0;
        left: 100%
    }
    .main-timeline .timeline{
        width: 100%;
        float: none;
        padding: 0 30px 0 0;
        margin-bottom: 20px;
    }
    .main-timeline .timeline:after{
        left: auto;
        right: -6px;
    }
    .main-timeline .timeline-content{
        padding: 20px;
    }
    .main-timeline .timeline-content:after{
        border-right: 15px solid transparent;
        border-left: none;
        right: -15px;
        left: auto;
    }
    .main-timeline .timeline:nth-child(2n){
        margin-top: 0;
    }
}



/************************************************** End Experience Section ***************************************************************/

/************************************************** Begin Advantages Section ***************************************************************/

#sec5{
    background-image: url('../img/7.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sec5 h3.the-title{
    text-align: center
}

.adv-icon {
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 4px 5px rgba(40,40,40,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}


.adv-name {
    font-size: 16px;
    color: #333;
    margin: 15px 0px;
    font-weight: 700;
    
}

.advantage {
    background: #fff;
    padding: 20px 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(40,40,40,0.1);
}

.advantage .adv-desc {
    display: flex;
    align-items: center;
    height: calc(100% - 130px);
    justify-content: center;
}

 .advantage , .adv-desc  , .adv-icon , .adv-name{
    transition: 0.4s all ease-in-out;
}

.advantage:hover{
    background: #F7B82B;
    box-shadow: 0px 5px 20px rgba(40,40,40,0.3);
}

.advantage:hover .adv-icon path{
    fill: #fff;
}
.advantage:hover .adv-name{
    color: #fff;
}

.advantage:hover .adv-desc{
    color: #fff;
}

/************************************************** End Advantages Section ***************************************************************/


/************************************************** Begin Services Section ***************************************************************/


svg#theAnim {
    max-width: 100%;
        height: auto;
            transform: rotateX(180deg);
}

.service-image-container img {
    width: 65px;
    height: 65px;
    object-fit: contain;
    padding: 0px;
}

.on-service-wrapper {
    text-align: center;
}

.dot {
    position: relative;
}

.dot:before {
    content: "";
    position: absolute;
    top: -15px;
    width: 15px;
    height: 15px;
    background: #f2f3f4;
    border-radius: 50%;
    left: calc(50% - 7.5px);
    transition: 0.4s all ease-in-out
}


.on-service-wrapper.numOne{
    margin-top: -25.7%;
}

.service-link {
    margin: 15px 0px;
}

.service-link a{
    color: #a0a0a0;
    font-size: 16px;
    transition: 0.4s all ease-in-out;
    position: absolute;
    width: 100%;
    left: 0;
    
}
.col-xs-3.on-service-wrapper:hover .dot:before {
    background: #F7B82B;
}

.col-xs-3.on-service-wrapper:hover .service-link a {
    color: #F7B82B;
}

.service-image-container{
    display: none;
    background: #f2f3f4;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 50px);
    border: 3px dashed #F7B82B;
    text-align: center;
    line-height: 95px;
    height: 100px;
    width: 100px;
    transition: 0.4s all ease-in-out
}

.service-image-container:hover{
    background: #2a2a2a;
}

.dis-block , .swing{
    display: block!important
}

.service-image-container.swing.animated.dis-block {
    position: absolute;
    left: calc(50% - 50px);
}

.dot.colored:before{
    background: #F7B82B!important
}

h3.the-title.backed-tilte {
    background: #F7B82B;
    color: #fff;
    width: 150px;
    height: 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(40,40,40,0.4);
    text-align: center;
    line-height: 65px;
}

/*section#sec6 h3.the-title {
    margin-top: 40px;
}*/

#sec6 {
    padding: 40px 0px;
    background-image: url('../img/6.png');
    background-position: left bottom;
    background-repeat: no-repeat
    
}

.work-image{
    background-image: url('../img/8.png')
}

.owl-nav button {
    float: left;
    width: 45px;
    height: 45px;
    border: 1px solid #F7B82B!important;
    display: inline-block;
    background: white!important;
    font-size: 35px!important;
    display: flex!important;
    align-items: center;
    justify-content: center;
    color: #f7b82b!important;
    border-radius: 50%!important;
    transition: 0.4s all ease-in-out
}

.owl-nav button:hover {
    background: #eee!important;
    box-shadow: 0px 0px 20px 0px rgba(247,184,43,0.8);
    border-color: transparent!important;
    border-radius: 0px!important
}

.work-image {
    background-image: url(../img/8.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 490px;
    padding-top: 56px;
    position: relative;
}

.works-slider.owl-carousel .owl-item img {
    display: block;
    width: calc(85%);
    object-fit: cover;
    height: 376px;
    margin-right: 6.5%;
    border-radius: 4px;
}
.col-sm-8.work-text-container {
    height: 400px;
    display: flex;
    align-items: center;
    padding-left: 0px;
        width: calc(100% - 265px);
}

.col-sm-8.work-text-container.hidden-xs .work-text  {
       width: 100%;
    text-align: left;
    padding-left: 10px;
}

.col-sm-8.work-text-container.hidden-xs .work-text h4.work-name {
    
}

.works-slider .item.col-xs-12 , .works-slider  {
    padding-right: 0px;
    padding-left: 0px;
}

.works-slider.owl-theme .owl-nav {
    margin-top: -140px;
    margin-bottom: 40px;
    position: relative;
}
/************************************************** End Services Section ***************************************************************/

/************************************************** Begin Works Section ***************************************************************/

#sec7 {
    padding: 40px 0px;
}

#sec7 h3.the-title.backed-tilte{
    margin-bottom: -70px
}

h4.work-name {
    
    font-size: 25px;
    margin-bottom: 5px;
}

h4.work-name a{
    color: #333;
    padding: 10px 0px;
}

.hvr-ripple-out:before{
        border: transparent solid 2px;
}

.col-sm-4.work-image-container {
    width: 265px;
    padding-left: 0;
}

.hvr-ripple-out:hover:before{
        border: #F7B82B solid 2px;
}

/************************************************** End Works  Section ***************************************************************/


/************************************************** Begin Partners  Section ***************************************************************/


#sec9{
    padding: 40px 0px;
    background-color: #F7B82B;
    padding-bottom: 85px
}

#sec9 h3.the-title {
    color: #333;
    text-align: center;
}

.partners-slider .owl-item img {
    width: 100%;
    height: 120px;
    object-fit: contain;
}

/************************************************** End Partners  Section ***************************************************************/


/************************************************** Begin Customers  Section ***************************************************************/

#sec8{
    padding: 40px 0px;
    background-image: url('../img/3.png');
        border-bottom-left-radius: 120%100px;
    border-bottom-right-radius: 120%100px;
    border-top-left-radius: 120%100px;
    border-top-right-radius: 120%100px;
    background-attachment: fixed
}

#sec8 h3.the-title {
    color: #fff;
    text-align: center;
}

.partners-slider .owl-item img {
    width: 100%;
    height: 120px;
    object-fit: contain;
}


.testimonial{
    background-color: transparent;
    border-radius: 5px;
    padding: 30px;
    margin: 0 15px;
    min-height: 150px;
    border: 2px solid #858A8F;
    border-radius: 0px;
    border-top: 0px;
    position: relative
}

.testimonial .commas {
    margin-right: 75px;
    float: right;
    font-size: 40px;
    transform: rotate(180deg);
    margin-top: -54px;
    position: relative;
    color: #F7B82B
}

.testimonial .commas:after{
    position: absolute;
    content: "";
    height: 2px;
    background: #858A8F;
    left: -107px;
    top: 33px;
    width: 90px;
}

.testimonial:before {
    position: absolute;
    content: "";
    height: 2px;
    background: #858A8F;
    left: 0px;
    top: 0px;
    width: calc(100% - 145px);
    z-index: 9999;
}

.testimonial .pic{
    width: 90px;
    height: 90px;
    margin: 0 20px 0px 0px;
    float: left;
}
.testimonial .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover
}
.testimonial .testimonial-title{
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 800;
    text-transform: capitalize;
}
.testimonial .testimonial-title small{
    display: block;
    color: #dc005a;
    font-size: 14px;
    font-weight: 800;
    margin-top: 10px;
}
.testimonial .testimonial-review p{
    color: #fff;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 0;
}
.owl-theme .owl-controls{
    margin-top: 20px;
}
.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height: 10px;
    background:#fff;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #fff;
    border: 1px solid #cdcdcd;
}


#testimonial-slider.owl-carousel.owl-rtl .owl-item {
    margin-top: 40px;
    float: left;
    position: relative;
    display: inline-block;
}

#testimonial-slider .owl-dots {
    display: flex;
    justify-content: center;
}

 #testimonial-slider.owl-carousel button.owl-dot{
    border-radius: 50%;
    margin: 10px;
    background: #54585E;
         width: 10px;
    height: 10px;
}

 #testimonial-slider.owl-carousel button.owl-dot.active{
    background: #F7B82B
}

@media screen and (max-width: 990px){
    .testimonial-parallax h2{
        margin-bottom: 40px;
    }
    .testimonial{
        margin: 0;
    }
}


/************************************************** End Customers  Section ***************************************************************/
/************************************************** Begin Footer  Section ***************************************************************/

#secFooter{
    padding: 40px 0px;
    background: #2A2A2A;
    border-top-left-radius: 120%100px;
    border-top-right-radius: 120%100px;
        margin-top: -45px;
}

.socials-container{
    display: flex;
    justify-content: center;
}


.socials-container a{
color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 34px;
    margin: 0px 10px;
    transition: 0.4s all ease-in-out;
    font-size: 18px;
}

.rights-reserved{
    text-align: center;
    margin: 20px 0px;
    color: #fff;
}

.rights-reserved span{
    color: #F7B82B
}

.socials-container a.hvr-ripple-out:before {
    border: transparent solid 2px;
    border-radius: 50%;
    transition: 0.4s all ease-in-out;
}

.socials-container a:hover{
    border-color: transparent;
}

.socials-container a.hvr-ripple-out:hover:before {
    border: #F7B82B solid 2px;
}

.iphone-btn{
position: absolute;
    left: 103.4px;
    height: 18.9px;
    display: inline-block;
    background: #F7B82B;
    bottom: 18.5px;
    border-radius: 10px;
    text-align: center;
    line-height: 34px;
    width: 50px;
    cursor: pointer;
    display: none;
    animation: flashcolor 5s infinite;
}

@keyframes flashcolor{
    0%{
        background: #C3C7CC;
    }
    
    100%{
        background: #F7B82B;
    }
}

.hvr-radial-in:before {
    background: #C2C6CB;
}

.overlay-container {
    display: block;
    width: calc(82%);
    object-fit: cover;
    height: 363px;
    margin-left: 11%;
    background: rgba(0,0,0,0.6);
    top: 55px;
    position: absolute;
    text-align: center;
    transform: translateY(-100px)scale(0);
    transition: 0.4s all ease-in-out!important;
    display: none
}

 .overlay-container.show-text{
    transform: translateY(0px)scale(1);
     transition: 0.4s all ease-in-out;
}

.show-text{
    transform: translateY(0px)scale(1)!important;
     transition: 0.4s transform ease-in-out!important;
}

.overlayed-text {
    height: 100%;
    position: relative;
}

.overlayed-text h4 {
    color: #fff;
    font-size: 17px;
    position: relative;
        margin-bottom: 25px;
}

.overlayed-text h4:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 90px;
    bottom: -10px;
    left: calc(50% - 45px);
    background: #F7B82B;
}

.inner-proj-description {
    color: #fff;
    font-size: 12px;
    padding: 0px 13px;
}

a.go-to-proj.hvr-sweep-to-right {
    position: absolute;
    bottom: 20px;
    width: 150px;
    font-size: 12px;
    color: #fff;
    background: #F7B82B;
    height: 35px;
    left: calc(50% - 75px);
    line-height: 34px;
    transition: 0.4s all ease-in-out
}

a.go-to-proj.hvr-sweep-to-right:hover{
    color: #F7B82B
}

.go-to-proj.hvr-sweep-to-right:before {
    background: #fff;
}

/************************************************** End Footer  Section ***************************************************************/



/************************************************** Begin PROJECTS PAGE   Section ***************************************************************/

.filter-tabs ul.nav.nav-tabs {
    border-bottom: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}


.filter-tabs .nav-tabs>li.active>a, .filter-tabs .nav-tabs>li.active>a:hover, .filter-tabs .nav-tabs>li.active>a:focus {
    color: #2a2a2a;
    cursor: default;
    background-color: #f7b82b;
    border: 0px!important;
    border-bottom-color: #2a2a2a;
    border-radius: 0!important;
    border-top-right-radius: 5px!important;
    border-top-left-radius: 5px!important;
    box-shadow: 0px 10px 15px rgba(40,40,40,0.4)
}

 .filter-tabs .nav-tabs>li>a:hover {
    border-color: transparent;
     border-top-right-radius: 5px!important;
    border-top-left-radius: 5px!important;
}

.filter-tabs .nav>li>a{
    border-radius: 0px!important;
    border-top-right-radius: 5px!important;
    border-top-left-radius: 5px!important;
    transition: 0.4s all ease-in-out;
    border: 1px solid #f7b82b;
    color: #2a2a2a
}

.filter-tabs .nav>li>a:hover, .filter-tabs .nav>li>a:focus {
    text-decoration: none; 
    background-color: #f7b82b;
    color: #2a2a2a;
    border-radius: 0px!important;
    border-top-right-radius: 5px!important;
    border-top-left-radius: 5px!important;
        
}

/************************************************** End PROJECTS PAGE   Section ***************************************************************/



/************************************************** Begin PROJECT PAGE   Section ***************************************************************/

#projInnerSection{
    padding: 40px 0px;
    display: inline-block;
    width: 100%;
/*    margin-top: -75vh;*/
/*    margin-bottom: 18vh;*/
    background-image: url(../img/5.png) , url(../img/4.png) , url(../img/6.png) , url(../img/4.png);
    background-repeat: no-repeat;
    background-position: 100% 25% , 100% 25% , 100% 95% , 0% 95%;
    background-attachment: fixed;
}

.top-short-nav#sec1{
/*        height: 160px;*/
/*
        box-shadow: 0px 0px 30px rgba(40,40,40,0.6);
    position: fixed;
*/
}

#st-container{
        overflow: visible;
    height: 100vh;
}

#player {
    	
background-color: transparent;
    border-radius: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    }

video{
       max-width: 100%;
    height: 330px;
        box-shadow: 0px 0px 35px rgba(40,40,40,0.4);

}

#controls {
    border: 1px solid #eee;
    width: 480px;
    text-align: center;
    border-radius: 40px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 240px);
    padding: 5px 15px;
}

.server-video-container #controls{
    width: 90%;
    left: 5%;
}
.server-video-container video{
   height: 305px
}



#controls button{
    text-indent:-9999px;
    	width:24px;
    	height:24px;
    	border:none;
    	cursor:pointer;
    	background-color:transparent;
    background-repeat: no-repeat
}


.pause { background-image:url('../img/play.png'); }
    .play { background-image:url('../img/pause.png'); }
#volume-bar {
    width: 50px;
    vertical-align: middle;
    padding: 0px;
    margin-left: 10%;
    margin-top: -8px;
    height: 0px;
}
    .mute { background-image:url('../img/mute.png'); }
    .unmute { background-image:url('../img/unmute.png'); }
   progress {
    color: #F7B82B;
    font-size: 12px;
    width: 55%;
    height: 4px;
    border: none;
    margin-left: 10px;
    margin-right: -22%;
    background: #fff;
    border-radius: 9px;
    vertical-align: middle;
}
    progress::-moz-progress-bar { 
      color: #F7B82B;
      background:#fff; 
    }
    
    progress[value]::-webkit-progress-bar {
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    
    progress[value]::-webkit-progress-value {
      background-color: #F7B82B;
    }
    
    input[type=range] {
      -webkit-appearance: none;
      width: 100%;
     
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 4.4px;
      cursor: pointer;
      box-shadow: -0.9px 0.9px 1.7px #F7B82B, 0px 0px 0.9px #F7B800;
      background: #F7B82B;
      border-radius: 1px;
/*      border: 1.1px solid #18d501;*/
    }
    input[type=range]::-webkit-slider-thumb {
      box-shadow: 0px 0px 3px #d7B82B, 0px 0px 2px #F7B82B;
      border: 2.5px solid #eee;
      height: 18px;
      width: 9px;
      border-radius: 3px;
      background: transparent;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -7px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #F7B82B;
    }
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 4.4px;
      cursor: pointer;
      box-shadow: -0.9px 0.9px 1.7px #F7B82B, 0px 0px 0.9px #F7B82B;
      background: #F7B82B;
      border-radius: 1px;
      border: 1.1px solid #F7B82B;
    }
    input[type=range]::-moz-range-thumb {
      box-shadow: -2.6px 2.6px 3.7px #F7B82B, 0px 0px 2.6px #F7B82B;
      border: 2.5px solid #F7B82B;
      height: 18px;
      width: 9px;
      border-radius: 3px;
      background: #eee;
      cursor: pointer;
    }
    input[type=range]::-ms-track {
      width: 100%;
      height: 4.4px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: #F7B82B;
      border: 1.1px solid #F7B82B;
      border-radius: 2px;
      box-shadow: -0.9px 0.9px 1.7px #F7B82B, 0px 0px 0.9px #F7B82B;
    }
    input[type=range]::-ms-fill-upper {
      background: #F7B82B;
      border: 1.1px solid #F7B82B;
      border-radius: 2px;
      box-shadow: -0.9px 0.9px 1.7px #F7B82B, 0px 0px 0.9px #F7B82B;
    }
    input[type=range]::-ms-thumb {
      box-shadow: -2.6px 2.6px 3.7px #F7B82B, 0px 0px 2.6px #F7B82B;
      border: 2.5px solid #F7B82B;
      height: 18px;
      width: 9px;
      border-radius: 3px;
      background: #F7B82B;
      cursor: pointer;
      height: 4.4px;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: #F7B82B;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: #F7B82B;
}

button#btnPlayPause {
    float: right;
}
button#btnMute {
    float: left;
    margin-top: -12px;
}

.st-wrapper .st-title h2 {
    padding: 0 20px;
    font-size: 28px;
    color: #F7B82B;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: inherit;
    text-shadow: none;
}

.st-wrapper nav span{
     width: 45px;
    height: 45px;
    border: 2px solid #F7B82B;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    color: #F7B82B!important;
    transition: 0.4s all ease-in-out;
    font-size: 0px;
    background: transparent;
}

.st-wrapper nav span:hover{
background: #eee;
    box-shadow: 0px 0px 20px 0px rgba(247,184,43,0.8);
    border-color: transparent;
    border-radius: 0px
}
.st-wrapper nav span:last-child:before {
    content: "\f125";
}
.st-wrapper nav span:first-child:before {
    content: "\f124";
}

.st-wrapper nav span:before {
    font-family: 'ionicons';
    color: #F7B82B!important;
    background: transparent;
}

.st-item.st-right {
    top: 25px;
}

.st-pusher {
 
    z-index: unset;
}

.inner-project-description {
    text-align: center;
    margin-bottom: 155px;
}

.inner-project-description h3.project-title {
    color: #F7B82B;
    font-size: 35px;
    margin-bottom: 20px;
}


.st-stack {
    position: absolute;
    height: 10px;
    bottom: 0px;
    background-image: url(../images/gradient.png);
    background-image: -webkit-linear-gradient(top, #fff 50%, #F7B82B 50%);
    background-image: -moz-linear-gradient(top, #fff 50%, #F7B82B 50%);
    background-image: -o-linear-gradient(top, #fff 50%, #F7B82B 50%);
    background-image: -ms-linear-gradient(top, #fff 50%, #F7B82B 50%);
    background-image: linear-gradient(to bottom, #fff 50%, #F7B82B 50%);
    
}

.st-wrapper .st-item a, .st-wrapper .st-item img {
    margin-right: 7%;
    width: 218px;
    object-fit: cover;
    border: none;
    display: block;
    position: absolute;
    left: 19.5px;
    height: 385px;
    border-radius: 2px;
}

.st-wrapper .st-item.st-rightflow, .st-wrapper .st-item.st-leftflow, .st-wrapper .st-item.st-center {
    opacity: 1;
    width: 255px;
    right: auto!important;
    left: auto!important;
    margin-left: calc(50% - 125.5px);
/*    margin-bottom: 50px;*/
    top: -100px!important
}


.st-item .work-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.st-item .work-image-container .work-image {
    background-image: url(../img/8.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 490px;
    padding-top: 56px;
    position: relative;
    width: 350px;
    margin: auto;
}

.col-xs-12.stores-container{
    margin-top: 20px
}

.col-xs-12.stores-container img {
    width: 150px;
}

.col-xs-12.stores-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.col-xs-12.stores-container > div {
    text-align: center;
}

.st-item .work-image a.fancy-box{
        margin-left: unset;
    width: 100%;
    right: unset;
    height: unset;
    position: relative;
    display: contents;
}

.fancybox-button svg path{
    stroke: #F7B82B
}

    .st-wrapper {
    height: 520px!important;
}
.st-stack{
    width: 40%!important
}


/************************************************** End PROJECT PAGE   Section ***************************************************************/



/************************************************** Begin News PAGE   Section ***************************************************************/

section#allNewsSection {
/*    margin-top: -460px;*/
    margin-bottom: 60px;
    margin-top: 40px
}


.col-sm-4.col-xs-6.new-box-container {
    margin-bottom: 20px;
        padding: 0px 10px;
}

h3.news-title {
    font-size: 20px;
    margin-top: 60px;
    visibility: visible
}


.row .col-sm-4.col-xs-6.new-box-container:nth-child(1){
    animation-delay: 0s;
}
.row .col-sm-4.col-xs-6.new-box-container:nth-child(2){
    animation-delay: 0.1s;
}
.row .col-sm-4.col-xs-6.new-box-container:nth-child(3){
    animation-delay: 0.2s;
}
.row .col-sm-4.col-xs-6.new-box-container:nth-child(4){
    animation-delay: 0.3s;
}
.row .col-sm-4.col-xs-6.new-box-container:nth-child(5){
    animation-delay: 0.4s;
}
.row .col-sm-4.col-xs-6.new-box-container:nth-child(6){
    animation-delay: 0.5s;
}
.row .col-sm-4.col-xs-6.new-box-container:nth-child(7){
    animation-delay: 0.6s;
}
.row .col-sm-4.col-xs-6.new-box-container:nth-child(8){
    animation-delay: 0.7s;
}
.row .col-sm-4.col-xs-6.new-box-container:nth-child(9){
    animation-delay: 0.8s;
}
.row .col-sm-4.col-xs-6.new-box-container:nth-child(10){
    animation-delay: 0.9s;
}
.row .col-sm-4.col-xs-6.new-box-container:nth-child(11){
    animation-delay: 1s;
}
.row .col-sm-4.col-xs-6.new-box-container:nth-child(12){
    animation-delay: 1.1s;
}


.new-box img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(40,40,40,0.3);
}

.tab-pane .new-box img{
    object-fit: contain
}

.new-box {
    text-align: center;
    position: relative;
    overflow: hidden;
        border-radius: 10px;

}

.news-eye{
    visibility: hidden
}

.news-eye a {
    font-size: 40px;
    width: 50px;
    height: 50px;
    border: 2px solid #F7B82B;
    display: inline-block;
    line-height: 50px;
    border-radius: 50%;
    margin-top: 50px;
    
}

.new-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
    transition: 0.4s all ease-in-out;
    transform: rotate(360deg) scale(0);
}

.new-box:hover .new-overlay{
    transform: rotate(0deg) scale(1);
}

.new-box:hover .new-overlay h3.news-title , .new-box:hover .new-overlay .news-eye{
    animation-delay: 0.4s;
    animation-duration: 1s;
    visibility: visible
}

.new-box:hover .new-overlay h3.news-title{
    animation-name: fadeInDown;
    
}

.new-box:hover .new-overlay .news-eye{
    animation-name: fadeInUp
}



.new-overlay a {
    color: #F7B82B;
    padding-bottom: 5px
}

ul.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

ul.pagination li {
    border-radius: 50%;
    display: inline-block;
    margin: 0px 10px;
}
ul.pagination li a {
    border-radius: 50%;
}

.pagination-container .pagination li{
    animation-name: fadeInRight;
    animation-duration: 1s
}
.pagination-container .pagination li:nth-child(1){
    animation-delay: 0s;
}
.pagination-container .pagination li:nth-child(2){
    animation-delay: 0.1s;
}
.pagination-container .pagination li:nth-child(3){
    animation-delay: 0.2s;
}
.pagination-container .pagination li:nth-child(4){
    animation-delay: 0.3s;
}
.pagination-container .pagination li:nth-child(5){
    animation-delay: 0.4s;
}
.pagination-container .pagination li:nth-child(6){
    animation-delay: 0.5s;
}
.pagination-container .pagination li:nth-child(7){
    animation-delay: 0.6s;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #F7B82B;
    border-color: #F7B82B;
}

.pagination>li>a, .pagination>li>span {
    color: #F7B82B;
    border-color: #F7B82B;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #F7B82B;
    border-color: #F7B82B;
    background: #2a2a2a
}


.news-eye a:hover{
    border-color: transparent
}

.news-eye a.hvr-ripple-out:before {
    border: transparent solid 2px;
    border-radius: 50%;
}

.news-eye a.hvr-ripple-out:hover:before{
    border-color: #fff;
}

.hvr-underline-from-center:before {
    background: #fff;
    bottom: -3px;
}
/************************************************** End News PAGE   Section ***************************************************************/


/************************************************** Begin Single News PAGE   Section *******************************************************/

.styled-imagebg {
    width: 500px;
    height: 300px;
    margin: auto;
    position: relative;
}

.styled-imagebg img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 25px rgba(40,40,40,0.4);
    transition: 0.4s all ease-in-out;
}

.styled-imagebg:after , .styled-imagebg:before  {
    content: "";
    width: 120px;
    height: 200px;
    background: #F7B82B;
    position: absolute;
       border-radius: 3px;
    transition: 0.4s all ease-in-out;
    z-index: 1;
}

.styled-imagebg:after  {
    right: -30px;
    bottom: -30px;
}

.styled-imagebg:before {
    left: -30px;
    top: -30px;
}

.styled-imagebg:hover:after , .styled-imagebg:hover:before{
    background: #2a2a2a;
}

.styled-imagebg:hover img{
    box-shadow: 0px 0px 45px rgba(247,184,43,1)
}

.styled-imagebg:hover:after{
     right: -10px;
    bottom: -10px;
}
.styled-imagebg:hover:before {
    left: -10px;
    top: -10px;
}
h3.the-news-title {
    color: #f7b82b;
    text-align: center;
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 25px;
}
.the-news-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}
.back-to-all-news a{
    background: #F7B82B;
    background: #F7B82B;
    width: 200px;
    color: #2a2a2a;
    height: 45px;
    line-height: 43px;
    display: block;
    margin: auto;
    text-align: left;
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 30px;
    transition: 0.4s all ease-in-out;
    padding-left: 20px;
}

.back-to-all-news a.hvr-sweep-to-right{
    transition: 0.4s all ease-in-out;
}

.hvr-sweep-to-right:before{
    background: #2a2a2a;
}

.back-to-all-news a i{
    transition: 0.4s all ease-in-out;
    font-size: 40px;
    position: absolute;
    top: 4px;
    right: 20px;
}
.back-to-all-news a:hover{
    color: #F7B82B
}
.back-to-all-news a:hover i{
    right: 10px
}


/************************************************** End Single News PAGE   Section *********************************************************/




/************************************************** Begin Contact us PAGE   Section *********************************************************/



.contact-form-container form input , .contact-form-container form textarea , .contact-form-container form button{
    width: 100%;
    border: 2px solid #eee;
    border-radius: 5px;
    height: 40px;
    text-align: left;
    line-height: 40px;
    margin-bottom: 10px;
    color: #2a2a2a;
    text-indent: 10px;
    transition: 0.4s all ease-in-out;
    outline: 0px
}


.contact-form-container form input:focus , .contact-form-container form textarea:focus{
    border: 2px solid #f7b82b;
}


.contact-form-container form textarea{
    height: 125px;
    resize: none
}

.contact-form-container form button{
    margin-bottom: 0px;
    text-align: center;
    background: #f7b82b;
    color: #fff;
    font-size: 16px;
    padding-bottom: 5px;
    border: 0px;
    line-height: 30px;
}

.contact-form-container form button:hover{
    color: #f7b82b
}

.contact-form-container form button.hvr-sweep-to-right:before{
    border-radius: 5px
}

.google-map#map{
    width: calc(100% - 30px);
    height: 326px;
     position: relative;
    z-index: 10
}

.map-wrap{
    position: relative;
    z-index: 10
}

.map-wrap:after{
    content: "";
    width: 120px;
    height: 200px;
    background: #F7B82B;
    position: absolute;
       border-radius: 3px;
    transition: 0.4s all ease-in-out;
    z-index: 1;
     right: 0px;
    top: -30px;
}

.contact-item {

    position: relative
}


.contact-item-icon {
    width: 70px;
    text-align: center;
    display: inline-block;
    height: 70px;
    padding-top: 3px;
    transition: 0.4s all ease-in-out;
}

.contact-item:hover .contact-item-icon {
    background: #2a2a2a;
    box-shadow: 0px 0px 20px rgba(40,40,40,0.4);
    border-radius: 5px;
}

.contact-item-text {
    display: inline-block;
    margin-left: 10px;
        bottom: -15px;
    position: relative;
    width: calc(100% - 90px);
}

.contact-item-label {
    color: #2a2a2a;
    font-size: 18px;
}

.row.contacting-info-wrapper{
    border-bottom: 2px solid #eee;
        padding: 25px 0px;
}

.department-photo img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.dept-location, .dept-mail, .dept-phone {
    margin-top: 5px;
    transition: 0.4s all ease-in-out
}

.dept-location a, .dept-mail a, .dept-phone a {
    color: #a0a2ae;
    transition: 0.4s all ease-in-out
}

.dept-location i, .dept-mail i, .dept-phone i {
    color: #f7b82b;
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
    transition: 0.4s all ease-in-out
}

.dept-location:hover a, .dept-mail:hover a, .dept-phone:hover a {
    color: #f7b82b;
}

.dept-location:hover i, .dept-mail:hover i, .dept-phone:hover i {
    color: #2a2a2a;
    margin-right: 10px;
/*    font-size: 24px*/
}

h3.subsec-title {
    color: #f7b82b;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

/************************************************** End Contact us  PAGE   Section *********************************************************/



/************************************************** Begin Jobs  PAGE   Section *********************************************************/


.col-xs-12.job-image  {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.col-xs-12.job-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(40,40,40,0.4);
    object-fit: cover;
}
.col-xs-12.job-description {
    margin-bottom: 20px;
}

.job-subtitle {
    color: #f7b82b;
    font-size: 18px;
    position: relative;
        margin-bottom: 20px;
}

.job-subtitle:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 90px;
    height: 2px;
    background: #2a2a2a;
}

.job-subtitle:after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 50px;
    left: 0px;
    height: 2px;
    background: #f7b82b;
}

.col-xs-12.apply-for-job {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

a.hvr-sweep-to-right.apply-to-job {
    color: #fff;
    background: #f7b82b;
    width: 150px;
    height: 35px;
    line-height: 35px;
    transition: 0.4s all ease-in-out;
}

a.hvr-sweep-to-right.apply-to-job:hover {
     box-shadow: 0px 0px 20px rgba(40,40,40,0.4);
    color: #f7b82b;
}

#accordion .panel-title>a {
    color: #2a2a2a;
    font-size: 16px;
    transition: 0.4s all ease-in-out
}

#accordion .panel-title>a:hover {
    color: #f7b82b;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    position: relative;
/*    border-radius: 0px;*/
    overflow: hidden;
        padding: 15px 15px;
}

.panel-default>.panel-heading:after {
    content: "";
    background: #f7b82b;
    height: 10px;
    width: 100px;
    right: -25px;
    position: absolute;
    bottom: 30px;
    transform: rotate(140deg);
}

.available-jobs h3.the-title{
    text-align: center;
    font-size: 30px
}

/************************************************** End Jobs Page  PAGE   Section *********************************************************/


/************************************************** Begin hosting Page  PAGE   Section *********************************************************/

.alert-danger {
    color: #F7B82B;
    background-color: #2A2A2A;
    border-color: #333;
}

.alert-danger .close span{
    color: #F7B82B;
}

.alert-success {
    color: #2a2a2a;
    background-color: #F7BA27;
    border-color: #f1cb6f;
}

.alert-success .close span{
    color: #2a2a2a;
}




.hosting-plans-wrapper , .hosting-advice-wrapper{
    padding-bottom: 25px;
    border-bottom: 2px solid #f7f7f7;
    margin-bottom: 25px
}

.hosting-plan {
    text-align: center;
    box-shadow: 0px 0px 10px rgba(40,40,40,0.3);
    border-radius: 5px;
    padding: 20px 0px;
        transition: 0.4s all ease-in-out;

}

.baqa-photo img {
    width: 80px;
    height: 80px;
    transition: 0.4s all ease-in-out;
}

.baqa-photo {
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.4s all ease-in-out;
    position: relative
}

.baqa-photo:after {
    content: "";
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 150px;
    background: #F7F7F7;
    transition: 0.4s all ease-in-out;    
}

.hosting-plan:hover .baqa-photo {
    background: #2a2a2a;
    box-shadow: 0px 0px 15px rgba(40,40,40,0.4);
    transform: scale(1.2) rotateY(180deg);
}
.hosting-plan:hover .baqa-photo:after {
    background: #2a2a2a;
    width: 100px
}

.baqa-name {
    color: #f7b82b;
    font-size: 24px;
    margin: 15px 0px;
}

.baqa-price, .baqa-storage, .baqa-domains {
    margin-bottom: 5px;
}

.baqa-support {
    margin-bottom: 20px;
}

.baqa-price {
    font-size: 25px;
    color: #2a2a2a;
    margin-bottom: 15px;
}

.why-us-rigt-txt {
    height: 235px;
    overflow: auto;
    box-shadow: 0px -40px 50px -20px rgba(40,40,40,0.2) inset;
}

.why-us-rigt-txt p {
    padding-left: 10px;
}

.hosting-plan:hover{
    box-shadow : 0px 15px 30px rgba(40,40,40,0.3)
}

.col-sm-3.search-domain-title {
    width: 330px;
}

.col-sm-9.search-domain-form{
    width: calc(100% - 340px)
}

button.search-domain-btn.hvr-sweep-to-right {
    width: 100px;
    background: #f7b82b;
    border: 0px;
    outline: 0px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    height: 35px;
}
button.search-domain-btn.hvr-sweep-to-right:before {
    background: #2a2a2a;
    border-radius: 5px;
}

input.search-domain-box {
    width: calc(100% - 105px);
    border: 2px solid #f7b82b;
    border-radius: 5px;
    height: 35px;
    padding: 0;
    text-align: center;
    outline: 0px;
    vertical-align: middle;
}

.col-sm-3.search-domain-title h3.the-title {
    margin-top: -10px;
}


div#ascrail2000-hr {
    display: none!important;
}
.row.allProjects-container {
    position: absolute;
    z-index: 9;
    margin: auto;
    margin-left: 110px;
    margin-top: -30px;
}
.row.allProjects-container a{
    width: 200px;
    background: #f7b82b;
    color: #fff;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px
}

.row.allProjects-container .col-xs-12{
    padding-left: 0;
}



/************************************************** End Hosting Page  PAGE   Section *********************************************************/

/************************************************** MEDIA QUERY ***************************************************************/



     .on-service-wrapper:nth-of-type(1) {
        margin-top: -22.3%;
    }
    
    .on-service-wrapper:nth-of-type(2) {
    margin-top: -18.5%;
    margin-left: 25%;
    }
    
    .on-service-wrapper:nth-of-type(3) {
    margin-left: 50%;
    margin-top: -5.7%;
    }
    
    .on-service-wrapper:nth-of-type(4) {
    margin-top: -1.1%;
            margin-left: 75%;
    }

@media screen and (max-width: 1310px){
.st-wrapper {
    height: 510px;
}


}
@media(min-width:768px) and (max-width : 991px){
   .col-xs-6.col-sm-3.advantage-container {
    padding: 0px 2.5px;
}
    
    .st-wrapper .st-title {
    bottom: 0px;
    }
    
 
    

    
}

@media(min-width:768px){
    
    h4.work-name{
        padding-left: 10px;
    }
    
    h4.work-name a{
        padding: 10px 10px!important
    }
    
    .all-deaprtments-container{
        margin-bottom: 40px;
    }

    .advantages-wrapper{
        padding: 0
    }
}

@media(min-width:651px){
        #projInnerSection{
        margin-bottom: 50px!important
    }
   
}


@media(min-width:651px) and (max-width : 767px){
    .st-wrapper .st-title {
    bottom: 60px!important;
    }
}

@media(min-width:501px){
    
.st-wrapper .st-title {
    bottom: 0;
}
    
    .one-feature{
        min-height: 300px
    }
}

@media screen and (max-width: 650px){
.st-wrapper nav {
    bottom: 20px;
}
    
    
    .stores-container{
        margin-bottom: 40px;
    }
}

@media(max-width: 767px) {
    
    .row.allProjects-container {
    position: absolute;
    z-index: 9;
    margin: auto;
    margin-left: calc(50% - 120px);
    margin-top: -515px;
    }
    .server-video-container video{
        height: auto
    }
    
    .logo-container{
            display: inline-block;
    text-align: center;
    }
    
    .logo-container img{
        width: auto;
    }
    
    .testimonial .pic {
    width: 55px;
    height: 55px;
    margin: 0 10px 0px 0px;
    float: left;
}
    .testimonial{
        padding: 30px 10px
    }
    .welcome-text-container h3 {
    font-size: 35px;
    color: #fff;
}
    
    .service-link a{
        font-size: 12px
    }
    
    .why-us-rigt-txt {
    height: auto;
    overflow: unset;
    box-shadow: unset;
    margin-bottom: 30px;
}
    .col-sm-3.search-domain-title , .col-sm-9.search-domain-form{
    width: 100%;
}
    .hosting-plan{
        margin-bottom: 25px;
    }
    
    .video-wrapper {
    position: relative;
}
    
    .why-us-rigt-txt {
    height: auto;
    overflow: unset;
    box-shadow: unset;
        margin-bottom: 25px;
}
    
    .row hosting-advice-wrapper h3.the-title , 
    .col-sm-3.search-domain-title h3.the-title {
        text-align: center;
            font-size: 30px
    }
    
    .col-sm-4.col-xs-12.department-info-container {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
    
    .col-sm-6.col-xs-12.contact-form-container {
    margin-bottom: 50px;
}
    
    .contact-item-label {
    font-size: 14px;
    }
    .contact-item-text {
    margin-left: 5px;
    width: calc(100% - 55px);
}
    .contact-item-icon img {
    width: 40px;
}
    
    .row.contacting-info-wrapper {
    padding: 25px 15px;
}
    
    .contact-item-icon {
    width: 45px;
    height: 45px;
}
    .contact-item {
    padding: 0;
}
    .styled-imagebg{
            width: 85%;
    }
    .styled-imagebg img {
    width: 100%;
    }
    
    .col-sm-4.col-xs-6.new-box-container {
    margin-bottom: 10px;
    padding: 0px 5px;
}
    
    .st-wrapper {
    height: 520px!important;
}
    
    .st-wrapper .st-item a, .st-wrapper .st-item img {
    margin-top: 0px;
    height: 385px;
}
    .st-wrapper .st-title {
        padding-bottom: 0px;
    bottom: 80px;
}
    
    video{
        height: auto
    }
    #controls {
    width: 80%;
        left: 10%;
}
    
    
    .most-top-header.up-particles {
    display: inline-block;
    width: 100%;
}

    
    .overlay-container{
          display: block;
    width: calc(77%);
    margin-right: 15.4%;
    height: 385px;
    }
    
    .iphone-btn{
        display: inline-block;
        
    }
    
    .iphone-btn.hvr-radial-in:before{
        animation: flashcolor 2s infinite;
    }
    
    #sec7 h3.the-title.backed-tilte , #sec6 h3.the-title.backed-tilte {
    margin-bottom: 10px; 
    background: #fff;
    box-shadow: none;
    color: #f7b82b;
    width: 100%;
}
    
    .works-slider.owl-carousel .owl-item img{
    width: calc(77%);
    margin-right: 15.4%;
    height: 385px;
    }
    
    button.owl-next{;
        float: right
    }
    button.owl-prev{
        float: left;
    }
    
    .works-slider.owl-theme .owl-nav {
    margin-top: -300px;
    margin-bottom: 195px;
    }
    
    .col-sm-4.work-image-container {
    width: 280px;
    padding-left: 0;
    margin: auto;
    margin-bottom: 20px;
    padding-right: 0;
}
    
    .about-declaration-image-container img{
        animation-name: fadeInDown
    }
    
    .col-xs-6.col-sm-3.advantage-container {
    margin-bottom: 5px;
        padding: 0px 2.5px;
}
    
    #sec2 h3.the-title {
    
    margin-bottom: 15px;
    }
    
    #sec2 h3.the-title , #sec3 h3.the-title{
        font-size: 35px;
        text-align: center
    }
    
    
.about-declaration-text-container {
    height: auto;
    padding: 20px 10px;
        padding-bottom: 70px;
}
    
    .about-declaration-image-container img {

    margin-left: 0%;
    width: 100%;
}
    
    .about-declaration-image-container {
    margin-top: -95px;
}
    
    .about-dec {
    max-height: initial;
    overflow: visible;
    font-size: 12px;
    padding-right: 0;
}
    
    .typing-container {
        width: 100%;
    
    }
    
    .welcome-text-container{
    text-align: center;
    }

    #menu-12 img {
    width: 120px;
    margin: 25px 0px;
/*    margin-right: 90px;*/
    }

    .hamMenu-container {
        margin-top: -17px;
    }

    .logo-container {
        margin-top: -8px;
    }

    .search-icon-container {
        margin-top: 5px
    }

    .moby-num {
        float: right;
        margin-right: 0!important;
    }

    .burger-menu {
        background: transparent;
        border: 0px;
        color: #F7B82B;
        padding: 0;
        font-size: 45px;
        outline: 0px!important;
    }
}

@media(max-width : 650px){
    .contact-item-icon {
    width: 100%;
    }
    .contact-item-text {
    width: 100%;
    text-align: center;
    }
}

@media(max-width : 500px){
    
    
    .contact-item {
    padding: 0;
    width: 100%;
    margin-bottom: 30px;
}
    
        .col-xs-6.col-sm-3.advantage-container {
    padding: 0px;
        width: 100%
}
    
    .welcome-text-container h3 {
    font-size: 28px;
    }
    
    .contacts a{
        margin-right: 0px
    }
    
    .bb-item img{
            height: 300px!important;
            width: 85vw!important;
        object-fit: cover
/*            max-width: 100%!important;*/
    }
    
    .bb-bookblock {
    width: 85vw!important;
/*        max-width: 100%!important;*/
    height: 300px;
    }
    
    .stores-container .col-xs-6{
        width: 100%;
        text-align: center!important;
    }
    
    .stores-container .col-xs-6:first-child{
        margin-bottom: 20px
    }
    
       .col-sm-4.col-xs-6.new-box-container {
    
    width: 100%;
}
    
}

@media(max-width : 400px){
    .col-sm-8.col-xs-12.text-right.contacts a {
    width: 100%;
    text-align: center;
}
}